body {
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-size: 15px;

  @media only screen and (max-width: 575px) {
    font-size: 14px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d5d5d5;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.react-bootstrap-table {
  min-height: 230px;
}

.reactPhoneInput {
  display: flex;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.disabled {
    background: #e9ecef;
  }

  &.PhoneInput--focus {
    border-color: #2684ff;
    box-shadow: 0 0 0 1px #2684ff;
  }

  .PhoneInputCountryIcon--border {
    box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor),
      inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor) !important;
  }

  input {
    border: none;
    outline: none;
  }
}

table{
  thead{
    tr{
      th{
        &.sortable{
          cursor: pointer;
        }
      }
    }
  }
}